<div class="card mb-2" >
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">About us</h5>
        <p class="card-text small">Something about us</p>
        <p class="card-text">Contacts</p>
      </div>
    </div>
  </div>
</div>
