<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My blog</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a routerLink="/posts" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/add" class="nav-link">Add posts</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/contacts" class="nav-link">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
