
<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-8" *ngIf="post">
      <div class="card-body">
        <p class="card-text">{{ post.date }}</p>
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>
        <button class="btn btn-secondary" [routerLink]="['edit']">Edit</button>&nbsp;
        <button class="btn btn-danger" (click)="OnDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
