<div class="row mt-2">
  <div class="col-6">
    <h4>Add new post</h4>

    <form (ngSubmit)="OnEdit()">
      <div class="form-group">
        <label for="title">Date</label>
        <input type="date" name="date" id="date" class="form-control" [(ngModel)]="date"/>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" [(ngModel)]="title"/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" [(ngModel)]="description"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
