<div class="card mb-2" *ngFor="let post of posts">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <p class="card-text small">{{ post.date }}</p>
        <h5 class="card-title">{{ post.title }}</h5>
        <button class="btn btn-primary" type="submit"
                [routerLink]="[post.id]" routerLinkActive="active">Read more</button>
      </div>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>


